/* место для вашего кода */
a {
  text-underline-offset: 3.5px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 88px 24px 96px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  padding: 44px 36px 39px 26.52px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: border;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.adress {
  line-height: 24.3px;
}

.header__address {
  padding: 5px 28px 2px 184px;
}

.cover {
  position: relative;
  display: block;
  height: 757px;
  padding: 0 0;
  color: #fff;
  background-image: url("/images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 2;
  width: 1000px;
  height: 355px;
  margin: 0;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 4px;
}

.aligned-text {
  padding-bottom: 20px;
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  padding-bottom: 20px;
  text-align: center;
  margin-right: 60px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  position: absolute;
  width: 100%;
  height: 51px;
  z-index: 2;
  top: 655px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 22px;
  text-transform: uppercase;
  padding: 0 50px 0 78px;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  padding: 0;
}

.lots {
  height: 692px;
  width: 1052px;
  margin: 179px 24px 0px;
}

.lots__heading {
  height: 47px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}
